.home-cont {
  height: 100vh;
  background-color: #183b56;
}

.navbar {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
}

.w-logo {
  width: 10%;
}

.lo-butt {
  border: 1px solid #ffffff;
  height: 35px;
  color: #ffffff;
  padding: 5px;
  background-color: transparent;
}

.m-cont {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: 'roboto';
}

.card-pic {
  width: 50%;
}
